<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926967898105-6okket6rbe355m3rt96misj3m1qttqo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926967898105-6okket6rbe355m3rt96misj3m1qttqo9</string>
	<key>API_KEY</key>
	<string>AIzaSyBsoMpwzb1GkzBWX622HiFwP-RioF-lL58</string>
	<key>GCM_SENDER_ID</key>
	<string>926967898105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Carlos.juegoActividad</string>
	<key>PROJECT_ID</key>
	<string>actividadinterfaces-75991</string>
	<key>STORAGE_BUCKET</key>
	<string>actividadinterfaces-75991.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926967898105:ios:b3b3d55caf5f5163f8a728</string>
</dict>
</plist>